# Configuration options

config SENSOR_MAX30001
	bool "MAX30001 Driver"
	default y
	select SPI
	help
	  Enable the driver for the Maxim MAX30001 ECG and Bioimpedance

if SENSOR_MAX30001

config SENSOR_MAX30001_INIT_PRIORITY
	int "Init priority"
	default 80
	help
	  MAX30001 device driver initialization priority.

endif # SENSOR_MAX30001