&npm_pmic_regulators {
    npm_pmic_buck1: BUCK1 {
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <3300000>;
        regulator-init-microvolt = <1800000>;
        regulator-always-on;
    };

    npm_pmic_buck2: BUCK2 {
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <3300000>;
        regulator-init-microvolt = <3000000>;
        regulator-always-on;
    };

    npm_pmic_ldo1: LDO1 {
        regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;
        //regulator-boot-on;
    };

    npm_pmic_ldo2: LDO2 {
        regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;
        //regulator-min-microvolt = <1000000>;
        //regulator-max-microvolt = <3300000>;
        //regulator-init-microvolt = <1800000>;
        //regulator-boot-on;
    };
};

&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay"; 

	//cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;	// For Device
	cs-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>; // For DK

	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <DT_FREQ_M(32)>;

	sh8601: sh8601@0 {
		compatible = "sitronix,sh8601";
		spi-max-frequency = <DT_FREQ_M(33)>;
		reg = <0>;
		reset-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		//<&gpio0 29 GPIO_ACTIVE_HIGH>;
		width = <390>;
		height = <390>;
		pixel-format = <0>;
		display-inversion;
		rotation = <0>;
		status = "okay";
		//zephyr,deferred-init;
	};
};