/ {
	lvgl_pointer_input: lvgl_pointer {
		compatible = "zephyr,lvgl-pointer-input";
		input = <&cst816s>;
		invert-y;
		//swap-xy;
		//invert-x;
	};
};

&i2c2 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c2_default>;
	pinctrl-1 = <&i2c2_sleep>;
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-names = "default", "sleep";

	cst816s: cst816s@15 {
		compatible = "hynitron,cst816s";
		reg = <0x15>;
		status = "okay";
		irq-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
		rst-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
	};
};
