/ {
    sensing: sensing-node {
        compatible = "zephyr,sensing";
        status = "okay";

        ecg_bioz: ecg-bioz {
            compatible = "zephyr,sensing-phy-sensor";
            status = "okay";
            sensor-type = <0xE1>;
            friendly-name = "ECG/BIOZ Sensor";
            minimal-interval=<625>;
            underlying-device = <&max30001>;      
        };
    };
};