# Copyright (c) 2023 Trackunit Corporation
# SPDX-License-Identifier: Apache-2.0


config SENSOR_BMI323_HPI
	bool "BMI323 measurement unit"
	default y
	select I2C
	help
		Enable driver for BMI323 IMU sensor.

module = BMI323_HPI
module-str = bmi323_hpi

source "subsys/logging/Kconfig.template.log_config"