menuconfig DISPLAY
	bool "Display Drivers"
	help
	  Enable display drivers

if DISPLAY

config DISPLAY_INIT_PRIORITY
	int "Display devices init priority"
	default 85
	help
	  Display devices initialization priority.

module = DISPLAY
module-str = display

source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.gc9a01a"
rsource "Kconfig.sh8601"

endif
