# SPDX-License-Identifier: Apache-2.0

rsource "max30001/Kconfig"
rsource "max32664c/Kconfig"
rsource "max32664d/Kconfig"
rsource "maxm86146/Kconfig"
rsource "max30208/Kconfig"
rsource "bmi323hpi/Kconfig"
rsource "ams_as6221/Kconfig"