# SPDX-License-Identifier: Apache-2.0

rsource "max30001/Kconfig"
rsource "max30205/Kconfig"
rsource "max32664/Kconfig"
rsource "maxm86146/Kconfig"

rsource "max32664c/Kconfig"

rsource "max30208/Kconfig"
rsource "bmi323hpi/Kconfig"


