# Configuration options

config SENSOR_MAX32664C
	bool "MAX32664C Driver"
	default y
	select I2C
	help
		Enable the driver for the Maxim MAX32664C sensor

module = MAX32664C
module-str = max32664c

source "subsys/logging/Kconfig.template.log_config"
