# ProtoCentral Electronics (info@protocentral.com)
# SPDX-License-Identifier: Apache-2.0

config SENSOR_MAX30208
	bool "MAX30208 Temperature Sensor"
	default y
	depends on DT_HAS_MAXIM_MAX30208_ENABLED
	select I2C
